################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/vidyanex-api/VNX.API/.vs/VNX.API/FileContentIndex
/vidyanex-api/VNX.API/.vs/VNX.API/CopilotIndices/17.14.1561.44479
