################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/vidyanex-api/VNX.API/.vs/VNX.API/FileContentIndex
/vidyanex-api/VNX.API/.vs/VNX.API/CopilotIndices/17.14.1561.44479
/vidyanex-api/vidyanex-api/VNX.API/.vs
/vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API
/vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/CopilotIndices
/vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/CopilotIndices
/vidyanex-api/vidyanex-api/VNX.API/obj/Debug
vidyanex-api/vidyanex-api/VNX.API/obj/Debug/net9.0/VNX.API.AssemblyInfoInputs.cache
*.v2
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/CopilotIndices/17.14.1561.44479/CodeChunks.db
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/CopilotIndices/17.14.1561.44479/SemanticSymbols.db
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/DesignTimeBuild/.dtbcache.v2
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/v17/.suo
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/v17/DocumentLayout.backup.json
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/v17/DocumentLayout.json
vidyanex-api/vidyanex-api/VNX.API/obj/Debug/net9.0/VNX.API.AssemblyInfo.cs
vidyanex-api/vidyanex-api/VNX.API/obj/Debug/net9.0/VNX.API.AssemblyInfoInputs.cache
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/CopilotIndices/17.14.1561.44479/CodeChunks.db
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/CopilotIndices/17.14.1561.44479/SemanticSymbols.db
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/DesignTimeBuild/.dtbcache.v2
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/v17/.suo
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/v17/DocumentLayout.backup.json
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/v17/DocumentLayout.json
vidyanex-api/vidyanex-api/VNX.API/obj/Debug/net9.0/VNX.API.AssemblyInfo.cs
vidyanex-api/vidyanex-api/VNX.API/obj/Debug/net9.0/VNX.API.AssemblyInfoInputs.cache
/vidyanex-api/VNX.API/.vs/VNX.API/copilot-chat
