################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/vidyanex-api/VNX.API/.vs/VNX.API/FileContentIndex
/vidyanex-api/VNX.API/.vs/VNX.API/CopilotIndices/17.14.1561.44479
/vidyanex-api/vidyanex-api/VNX.API/.vs
/vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API
/vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/CopilotIndices
/vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/CopilotIndices
/vidyanex-api/vidyanex-api/VNX.API/obj/Debug
vidyanex-api/vidyanex-api/VNX.API/obj/Debug/net9.0/VNX.API.AssemblyInfoInputs.cache
*.v2
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/CopilotIndices/17.14.1561.44479/CodeChunks.db
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/CopilotIndices/17.14.1561.44479/SemanticSymbols.db
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/DesignTimeBuild/.dtbcache.v2
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/v17/.suo
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/v17/DocumentLayout.backup.json
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/v17/DocumentLayout.json
vidyanex-api/vidyanex-api/VNX.API/obj/Debug/net9.0/VNX.API.AssemblyInfo.cs
vidyanex-api/vidyanex-api/VNX.API/obj/Debug/net9.0/VNX.API.AssemblyInfoInputs.cache
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/CopilotIndices/17.14.1561.44479/CodeChunks.db
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/CopilotIndices/17.14.1561.44479/SemanticSymbols.db
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/DesignTimeBuild/.dtbcache.v2
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/v17/.suo
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/v17/DocumentLayout.backup.json
vidyanex-api/vidyanex-api/VNX.API/.vs/VNX.API/v17/DocumentLayout.json
vidyanex-api/vidyanex-api/VNX.API/obj/Debug/net9.0/VNX.API.AssemblyInfo.cs
vidyanex-api/vidyanex-api/VNX.API/obj/Debug/net9.0/VNX.API.AssemblyInfoInputs.cache
/vidyanex-api/VNX.API/.vs/VNX.API/copilot-chat
vidyanex-api/VNX.API/obj/Debug/net9.0/VNX.API.AssemblyInfo.cs
vidyanex-api/VNX.API/obj/Debug/net9.0/VNX.API.AssemblyInfo.cs
/vidyanex-api/VNX.API/.vs/ProjectEvaluation/vnx.api.metadata.v9.bin
/vidyanex-api/VNX.API/.vs/ProjectEvaluation/vnx.api.projects.v9.bin
/vidyanex-api/VNX.API/.vs/ProjectEvaluation/vnx.api.strings.v9.bin
/vidyanex-api/VNX.API/.vs/VNX.API/DesignTimeBuild/.dtbcache.v2
/vidyanex-api/VNX.API/.vs/VNX.API/v17/.suo
/vidyanex-api/VNX.API/.vs/VNX.API/v17/DocumentLayout.backup.json
/vidyanex-api/VNX.API/.vs/VNX.API/v17/DocumentLayout.json
/vidyanex-api/VNX.API/bin/Debug/net9.0/VNX.API.deps.json
/vidyanex-api/VNX.API/bin/Debug/net9.0/VNX.API.dll
/vidyanex-api/VNX.API/bin/Debug/net9.0/VNX.API.exe
/vidyanex-api/VNX.API/bin/Debug/net9.0/VNX.API.pdb
/vidyanex-api/VNX.API/bin/Debug/net9.0/VNX.BusinessLogic.dll
/vidyanex-api/VNX.API/bin/Debug/net9.0/VNX.BusinessLogic.pdb
/vidyanex-api/VNX.API/bin/Debug/net9.0/VNX.DTOs.dll
/vidyanex-api/VNX.API/bin/Debug/net9.0/VNX.DTOs.pdb
/vidyanex-api/VNX.API/bin/Debug/net9.0/VNX.Entities.dll
/vidyanex-api/VNX.API/bin/Debug/net9.0/VNX.Entities.pdb
/vidyanex-api/VNX.API/bin/Debug/net9.0/VNX.Repositories.dll
/vidyanex-api/VNX.API/bin/Debug/net9.0/VNX.Repositories.pdb
/vidyanex-api/VNX.API/obj/Debug/net9.0/ref/VNX.API.dll
/vidyanex-api/VNX.API/bin/Debug/net9.0/Microsoft.IdentityModel.Abstractions.dll
/vidyanex-api/VNX.API/bin/Debug/net9.0/Microsoft.IdentityModel.JsonWebTokens.dll
/vidyanex-api/VNX.API/bin/Debug/net9.0/Microsoft.IdentityModel.Logging.dll
/vidyanex-api/VNX.API/bin/Debug/net9.0/Microsoft.IdentityModel.Tokens.dll
/vidyanex-api/VNX.API/obj/Debug/net9.0/refint/VNX.API.dll
/vidyanex-api/VNX.BusinessLogic/obj/Debug/net9.0/ref/VNX.BusinessLogic.dll
/vidyanex-api/VNX.BusinessLogic/obj/Debug/net9.0/refint/VNX.BusinessLogic.dll
/vidyanex-api/VNX.BusinessLogic/obj/Debug/net9.0/VNX.BusinessLogic.AssemblyInfo.cs
/vidyanex-api/VNX.BusinessLogic/obj/Debug/net9.0/VNX.BusinessLogic.AssemblyInfoInputs.cache
/vidyanex-api/VNX.BusinessLogic/obj/Debug/net9.0/VNX.BusinessLogic.assets.cache
/vidyanex-api/VNX.BusinessLogic/obj/Debug/net9.0
/vidyanex-api/VNX.BusinessLogic/obj/project.assets.json
/vidyanex-api/VNX.BusinessLogic/obj/project.nuget.cache
/vidyanex-api/VNX.BusinessLogic/obj/VNX.BusinessLogic.csproj.nuget.dgspec.json
/vidyanex-api/VNX.BusinessLogic/obj/VNX.BusinessLogic.csproj.nuget.g.targets
/vidyanex-api/VNX.DTOs/bin/Debug/net9.0/VNX.DTOs.dll
/vidyanex-api/VNX.DTOs/bin/Debug/net9.0/VNX.DTOs.pdb
/vidyanex-api/VNX.DTOs/obj/Debug/net9.0/ref/VNX.DTOs.dll
/vidyanex-api/VNX.Repositories/obj/Debug/net9.0/VNX.Repositories.AssemblyInfo.cs
/vidyanex-api/VNX.Repositories/obj/Debug/net9.0/VNX.Repositories.AssemblyInfoInputs.cache
/vidyanex-api/VNX.Repositories/obj/Debug/net9.0/VNX.Repositories.csproj.AssemblyReference.cache
/vidyanex-api/VNX.Repositories/obj/Debug/net9.0/VNX.Repositories.dll
/vidyanex-api/VNX.Repositories/obj/Debug/net9.0/VNX.Repositories.pdb
/vidyanex-api/VNX.Repositories/obj/Debug/net9.0/VNX.Repositories.sourcelink.json
/vidyanex-api/VNX.Entities/bin/Debug/net9.0/VNX.Entities.dll
/vidyanex-api/VNX.Entities/bin/Debug/net9.0/VNX.Entities.pdb
/vidyanex-api/VNX.DTOs/obj/Debug/net9.0/refint/VNX.DTOs.dll
/vidyanex-api/VNX.DTOs/obj/Debug/net9.0/VNX.DTOs.AssemblyInfo.cs
/vidyanex-api/VNX.DTOs/obj/Debug/net9.0/VNX.DTOs.AssemblyInfoInputs.cache
/vidyanex-api/VNX.DTOs/obj/Debug/net9.0/VNX.DTOs.dll
/vidyanex-api/VNX.BusinessLogic/obj/Debug/net9.0/VNX.BusinessLogic.AssemblyInfo.cs
/vidyanex-api/VNX.BusinessLogic/bin/Debug/net9.0/VNX.Entities.dll
/vidyanex-api/VNX.BusinessLogic/bin/Debug/net9.0/VNX.Entities.pdb
/vidyanex-api/VNX.BusinessLogic/bin/Debug/net9.0/VNX.Repositories.dll
/vidyanex-api/VNX.BusinessLogic/bin/Debug/net9.0/VNX.Repositories.pdb
/vidyanex-api/VNX.BusinessLogic/bin/Debug/net9.0/VNX.BusinessLogic.dll
/vidyanex-api/VNX.BusinessLogic/bin/Debug/net9.0/VNX.BusinessLogic.pdb
/vidyanex-api/VNX.BusinessLogic/bin/Debug/net9.0/VNX.DTOs.dll
/vidyanex-api/VNX.BusinessLogic/bin/Debug/net9.0/VNX.DTOs.pdb
/vidyanex-api/VNX.API/obj/VNX.API.csproj.nuget.g.targets
/vidyanex-api/VNX.API/VNX.API.csproj.user
/vidyanex-api/VNX.BusinessLogic/bin/Debug/net9.0/VNX.BusinessLogic.deps.json
/vidyanex-api/VNX.DTOs/obj/Debug/net9.0/VNX.DTOs.pdb
/vidyanex-api/VNX.DTOs/obj/Debug/net9.0/VNX.DTOs.sourcelink.json
/vidyanex-api/VNX.Entities/obj/Debug/net9.0/ref/VNX.Entities.dll
/vidyanex-api/VNX.Entities/obj/Debug/net9.0/refint/VNX.Entities.dll
/vidyanex-api/VNX.Entities/obj/Debug/net9.0/VNX.Entities.AssemblyInfo.cs
/vidyanex-api/VNX.Entities/obj/Debug/net9.0/VNX.Entities.AssemblyInfoInputs.cache
/vidyanex-api/VNX.API/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/vidyanex-api/VNX.API/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/vidyanex-api/VNX.API/obj/Debug/net9.0/VNX.API.AssemblyInfoInputs.cache
/vidyanex-api/VNX.API/obj/Debug/net9.0/VNX.API.assets.cache
/vidyanex-api/VNX.API/obj/Debug/net9.0/VNX.API.csproj.AssemblyReference.cache
/vidyanex-api/VNX.API/obj/Debug/net9.0/VNX.API.csproj.CoreCompileInputs.cache
/vidyanex-api/VNX.API/obj/Debug/net9.0/VNX.API.csproj.FileListAbsolute.txt
/vidyanex-api/VNX.API/obj/Debug/net9.0/VNX.API.dll
/vidyanex-api/VNX.API/obj/Debug/net9.0/VNX.API.pdb
/vidyanex-api/VNX.API/obj/Debug/net9.0/VNX.API.sourcelink.json
/vidyanex-api/VNX.Repositories/bin/Debug/net9.0/VNX.Entities.dll
/vidyanex-api/VNX.Repositories/bin/Debug/net9.0/VNX.Entities.pdb
/vidyanex-api/VNX.Repositories/bin/Debug/net9.0/VNX.Repositories.dll
/vidyanex-api/VNX.Repositories/bin/Debug/net9.0/VNX.Repositories.pdb
/vidyanex-api/VNX.Entities/obj/Debug/net9.0/VNX.Entities.pdb
/vidyanex-api/VNX.Entities/obj/Debug/net9.0/VNX.Entities.sourcelink.json
/vidyanex-api/VNX.Entities/obj/Debug/net9.0/VNX.Entities.dll
/vidyanex-api/VNX.Repositories/obj/Debug/net9.0/ref/VNX.Repositories.dll
/vidyanex-api/VNX.Repositories/obj/Debug/net9.0/refint/VNX.Repositories.dll
